/*-- Search images section--*/

.search-sec-skin {
    padding:126px 5px;
    text-align: center;
    background-image: linear-gradient(140deg, rgb(170 78 49) 0%, rgba(228, 100, 0) 50%);
    color:#fff;
}

.margin-form-bottom {
    margin-bottom: 77px;
}

form.search-form {
    margin:auto;
    max-width:50%;
    display: flex;
    height: 40px;
    grid-template-columns: 60% 30% 10%;
    }
    
    

form.search-form mcf-input .mcf-input input[type=text]::placeholder {
    color:rgb(190, 203, 209)
}

form.search-form mcf-input .mcf-input input[type=text]:focus {
    box-shadow: none;
    border:none;
    outline: none;
}
    
form.search-form button {
    height: 100%;
    padding: 14px;
    background-color: #000;
    color: white;
    font-size: 15px;
    border-left: none;
    border:none;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
    
form.search-form button:hover, form.search-form button:focus {
    outline:none;
    box-shadow: none;
}

form.search-form select {
    padding: 10px;
    font-size: 12.9px;
    border: none;
    height: 100%;
    color:#000;
    background: #f1f1f1;
}

.sub-footer-skin {
    padding:70px;
    background-color: rgb(54, 59, 62);
}

.row-grid {
    display: grid;
    grid-template-columns: 30% 10% 60%;
}

.column-item {
    margin:0px 10px;
}

.column-item:first-child{
    margin-left:0px;
}

.column-item:last-child{
    margin-right:0px;
}

.flex-list {
    display: flex;
}

.flex-list > ul {
    flex:1;
    padding:0px;
    margin:0px;
    list-style: none;
}

.flex-list > ul > li {
    padding-bottom:16px;
}

.flex-list > ul > li > a {
    text-decoration: none;
    outline:none;
    color:rgb(101, 109, 113);
}

.margin-sign-up {
    margin-bottom: 30px;
}

.input-control {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    padding: 13.9px 0px 13.9px 20px;
    border:2px solid rgb(75, 83, 88);
    border-radius: 10px;
    margin-bottom: 20px;
    color:#fff;
    box-sizing: border-box;

}

.sign-up-btn {
    width: 100%;
    background-color: rgb(44, 136, 181);
    color:#fff;
    border:1px solid rgb(44, 136, 181);
    font-size: 21px;
    padding: 14.5px 0px;
    transition:0.5s;
    border-radius: 10px;
}

.sign-up-btn:hover, .sign-up-btn:focus {
    color:rgb(44, 136, 181);
    background-color: #fff;
    outline:none;
    box-shadow: none;
}

.margin-browse-cat {
    margin-bottom: 36px;
}

.input-contain {
    width: 100%;
}

/*-- Search imgaes section --*/



/*-- Search Result Section -- */

.image-container {
    line-height: 0;
   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;
   margin-top: 95px;
   margin-bottom:95px;
   margin-right: 20px;
   padding: 0px 50px;
}

.image-container .image-cover:first-child{
    margin-top:0px;
}

.image-cover {
    margin:20px;
    margin-right:0px;
}

.image-container img {
    width: 100% !important;
  height: auto !important;

}

.center-pos {
    text-align: center;
    margin: 0px auto;
}

/*-- Search Result Section ends here */

/*-- Footer Section --*/


.footer-skin {
    padding:70px;
}

.row-grid-footer {
    display: grid;
    grid-template-columns: 46% 36% 18%;
}

.row-grid-footer .column-item-footer {
    margin:0px 10px;
}

.column-item-footer:first-child{
    margin-left:0px !important;
}

.column-item-footer:last-child{
    margin-right:0px;
}

.quick-links{
    padding:0px;
    list-style: none;
    margin: 0px;
    margin-bottom: 30px;
}

.quick-links > li {
    display: inline-block;
    margin-right:15px;
    position: relative;
}

.quick-links > li:first-child {
    margin-left: 0px;
}

.quick-links > li:last-child:after{
    margin-right: 0px;
    border-right:none;
}

.quick-links > li > a {
    display: block;
    padding: 0px 20px;
    font-size: 15px;
    text-decoration: none;
    outline: none;
    color: rgb(101, 109, 113);
}

.quick-links > li > a:first-child {
    padding-left:0px;
}

.quick-links > li:after {
    position: absolute;
    z-index: -1;
    content: "";
    right: 0%;
    top: 0;
    height: 100%;
    width: 100%;
    border-right:2px solid #ccc;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

.social-links {
    list-style: none;
    padding:0px;
    display: flex;
    margin:0px;
}

.social-links > li {
    flex:1;
}

.social-links > li > a {
    text-align: center;
    border-radius: 50%;
    display: block;
    color: rgb(101, 109, 113);
    margin: 0px 6px;
    padding: 12px 0px;
    transition:0.5s;
    border: 2px solid rgb(101, 109, 113);
}

.social-links > li > a:hover, .social-links > li > a:focus {
    background-color:rgb(101, 109, 113);
    color:#fff;
    border-color:#fff;
}

.social-links > li > a > i {
    vertical-align: middle;
    font-size: 18px;
}

.copy-right-text {
    color: rgb(180, 189, 194);
    font-size: 13px;
}


/* -- Footer Section ends here


/* --- Media Query -- */

@media (max-width: 800px) {
    .search-sec-skin {
        padding:40px 15px;
    }

    .image-container {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    margin-right:10px;
    padding:0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    }

    .image-cover{
        margin-left: 10px;
        margin-top:6px;
        margin-bottom:6px;
    }

    .row-grid{
        display: block;
    }

    .row-grid-footer {
        display: block;
    }

    form.search-form{
        max-width: 100%;
    }

    .flex-list {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .sub-footer-skin {
        padding:20px;
    }

    .footer-skin {
        padding:20px;
    }

    .row-grid-footer .column-item-footer:last-child {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .social-links > li > a{
        border:none;
    }

    .social-links > li > a:first-child {
        margin-left:0px;
    }
}
    

/* --- Media Query ends here-- */