/* You can add global styles to this file, and also import other style files */
$font-path: "~@accelya/sdk/mcf-theme/fonts";
$font-icons-path: $font-path;

@import "~@accelya/sdk/mcf-theme/main";

html,
body,
app-root{
    height: 100%;
}

.body-holder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}
.main-body-block{
    flex: 1;
}

.mcf-input-wrapper input {
    padding: 14px;
    font-size: 16px;
    float: left;
    height: 100%;
    border:none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* You can add global styles to this file, and also import other style files */
  body{
      margin:0px;
      position: relative !important;
  }

  *{
      font-family: DejaVu;
  }

h2, h5 {
    font-weight: lighter;
  }

  .white-text {
    color:#fff !important;
  }

  .clearfix {
    overflow: auto;
  }
